$dark: rgb(94, 174, 83);
$border-radius: 12px;
$btn-primary: #eb8e78;
$font-family-sans-serif: "DM Sans", sans-serif;

body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  font-family: "DM Sans", sans-serif !important;
}

body::-webkit-scrollbar {
  display: none;
}

// Navbar dropdown on hover
@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: none;
  }
  .navbar .nav-item:hover .nav-link {
  }
  .navbar .nav-item:hover .dropdown-menu {
    display: block;
  }
  .navbar .nav-item .dropdown-menu {
    margin-top: 0;
  }
}

// Carousel image settings
.img-holder-carousel {
  height: 100%;
  width: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px 12px 0 0;
}

// Background Page Image
.bg-image {
  position: fixed;
  height: 100%;
  width: 100%;
  background: url(../assets/img/bg.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -1;
  opacity: 0.4;
}

// Text Styles

.custom-h1 {
  font-family: "Work Sans", sans-serif;
  color: #333333;
  font-weight: bold;
  font-size: 4.5rem;
  /* deslocamento-x | deslocamento-y | raio-de-desfoque | cor */
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.custom-h2 {
  font-family: "Work Sans", sans-serif;
  color: #333333;
  font-weight: bold;
  font-size: 3.5rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.custom-h3 {
  font-family: "Work Sans", sans-serif;
  color: #333333;
  font-weight: bold;
  font-size: 2.5rem;
}
.custom-h4 {
  font-family: "Work Sans", sans-serif;
  color: #333333;
  font-weight: bold;
  font-size: 1.5rem;
}
.custom-h5 {
  font-family: "DM Sans", sans-serif;
  color: #333333;
  font-size: 0.875rem;
}
.white {
    color: #fff
}


//   Card Styles

$card-hover: #f49b3f;

$card-hover-shadow: drop-shadow(10px 20px 40px hsla(30, 100%, 19%, 0.3));
.card-img {
  min-height: 200px;
  min-width: 300px;
  height: 50%;
  width: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px 12px 0 0;
}

Button.btn-card {
  background-color: $btn-primary;
  color: #fff;
  border: none;
  font-size: 1rem;
  border-radius: 8px;
  height: 42px;
  transition: all 450ms;

}

.custom-card {
  transition: all 450ms;
}
.custom-card:hover {
  /* height: 340px;
    width: 265px; */
  border-radius: 12px;
  background-color: $card-hover;
  border: 8px solid $card-hover;
  filter: $card-hover-shadow;
  color: #fff;
}
.custom-card:hover Button {
    background-color: $card-hover;
    font-size: 1.1rem;
    border: 1px solid #fff;
  }

// Footer Styles
$links: #eb8e78;

.footer {
  background-color: #333;
  color: #fff
}

.footer ul {
  list-style: none;
  color: var(--branco);
  font-family: var(--DM-Sans);

}

.footer div {
  padding-bottom: 1rem;
  font-size: 0.9rem;
}

.footer p.title {
  text-transform: uppercase;
  color: $links;
}

// Import Bootstrap SCSS
@import "~bootstrap/scss/bootstrap.scss";
